<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/comm.css">
    <link rel="stylesheet" href="css/main.css">
    <title>XBChat</title>
</head>

<body>
    <div class="all" id="app">
        <div class="main">
            <!--leftmenu start-->
            <div class="leftmenu">
                <div class="userinfo">
                    <div class="userinfo_img">
                        <img v-bind:src="UserInfo.Logo" alt=""></div>
                    <div class="userinfo_name">
                        <span>{{UserInfo.AccountName}}</span>
                    </div>
                </div>

                <div class="search">
                    <img src="imgs/search.png" alt="">
                    <input type="text" placeholder="搜索" />
                </div>


                <div class="tabpanle">
                    <div class="linkgroup" v-for="item in UserInfo.Grouplist">
                        <span class="groupName" @click.self='item.Open=!item.Open'>{{item.Gname}}</span>
                        <ul class='grouplist' v-for="item2 in item.AccountList" v-show="item.Open">

                            <li v-bind:data-account="item2.AccountID" @click='selectfriend'>
                                <img v-bind:src="item2.AccountLogo" alt="name">
                                <span>{{item2.AccountName}}</span>
                            </li>

                        </ul>
                    </div>

                </div>

                <div class="setting">
                    <ul>
                        <li>
                            <img src="imgs/set.png" alt="setting">
                        </li>
                        <li>
                            <img src="imgs/Add.png" alt="Add">
                        </li>
                    </ul>
                </div>
            </div>
            <!--leftmenu end-->

            <!--rightcontent start-->
            <div class="right">
                <div class="content">
                    <!--<div class="msgleft">
                        <div class="fl">
                            <img src="imgs/face.jpg" alt="">
                        </div>
                        <div class="content_text fr">
                            <p>qdqwdqwdqwdqwd</p>
                        </div>
                    </div>
                    <div class="msgtime">
                        <i>2015-6-15 16:27</i>
                    </div>-->
                </div>

                <!--chatwindows start-->
                <div class="chatwindows">
                    <div class="chattool">
                        <ul>
                            <li> <img src="imgs/Smile.png" alt="setting"></li>
                            <li> <img src="imgs/skip.png" alt="setting" @click='clearcache'></li>
                        </ul>
                    </div>

                    <div class="chattext">
                        <textarea name="" id="msgarea" cols="30" rows="8" class="msgarea" placeholder="在此处输入消息(Ctrl+Enter发送)" @keydown='send'></textarea>
                    </div>

                    <!--  <div class="footbar">
                  <img src="imgs/Skip.png" alt="Send" class="btnimg">
                </div> -->
                </div>

                <!--chatwindows end-->
            </div>
            <!--rightcontent end-->
        </div>
    </div>

    <input type="hidden" id="lastchatAccountid" value="11" />
</body>
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>

<script>
    Date.prototype.Format = function (fmt) { //author: meizz 
        var o = {
            "M+": this.getMonth() + 1, //月份 
            "d+": this.getDate(), //日 
            "h+": this.getHours(), //小时 
            "m+": this.getMinutes(), //分 
            "s+": this.getSeconds(), //秒 
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
            "S": this.getMilliseconds() //毫秒 
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) :
                (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }

    var initdata = {
        'AccountID': 10000,
        'AccountName': 'KAka',
        'Logo': 'imgs/face.jpg',
        'Grouplist': [{
                'Gname': 'GName1',
                'Open': true,
                'AccountList': [{
                        'AccountID': '10001',
                        'AccountName': 'AName1',
                        'AccountLogo': 'imgs/face.jpg'
                    },
                    {
                        'AccountID': '10002',
                        'AccountName': 'AName2',
                        'AccountLogo': 'imgs/Smile.png'
                    }
                ]
            },
            {
                'Gname': 'GName1',
                'Open': true,
                'AccountList': [{
                        'AccountID': '10003',
                        'AccountName': 'AName1',
                        'AccountLogo': 'imgs/face.jpg'
                    },
                    {
                        'AccountID': '10004',
                        'AccountName': 'AName2',
                        'AccountLogo': 'imgs/Smile.png'
                    }
                ]
            }
        ]
    }

    new Vue({
        el: "#app",
        data: {
            lastaccountid: document.getElementById('lastchatAccountid'),
            msgcontent: document.getElementsByClassName('content'),
            UserInfo: initdata
        },
        mounted:function(){
            console.log('init...');
        },
        methods: {
            selectfriend: function (e) {
                var storge = window.localStorage,
                    curaccountid = e.currentTarget.dataset.account,
                    curacc_lastMsginfo = storge.getItem(curaccountid);
                if (curaccountid != this.lastaccountid.value) {
                    this.msgcontent[0].innerHTML = curacc_lastMsginfo;
                    this.lastaccountid.value = curaccountid;
                    this.msgcontent[0].scrollTop = this.msgcontent[0].scrollHeight;
                    var lis = document.querySelectorAll('.linkgroup li');
                    for (var index = 0; index < lis.length; index++) {
                        lis[index].classList.remove('libgcolor');
                    }
                    e.currentTarget.classList.add('libgcolor');
                }
            },
            clearcache: function () {
                var storage = window.localStorage;
                storage.removeItem(this.lastaccountid.value);
                this.msgcontent[0].innerHTML = "";
            },
            send: function (oEvent) {
                if (oEvent.keyCode == 13 && oEvent.ctrlKey) {

                    var msg = oEvent.currentTarget.value,
                        time = new Date().Format("yyyy-MM-dd hh:mm"),
                        msghtml = "";

                    //todo 发送到后台处理
                    msghtml += '<div class="msgright"><div class="content_text fl"><p>' + msg +
                        '</p></div><div class="fr"><img src="imgs/face.jpg" alt="555"></div></div>';
                    msghtml += '<div class="msgtime"><i>' + time + '</i></div>';
                    this.msgcontent[0].innerHTML += msghtml;
                    this.msgcontent[0].scrollTop = this.msgcontent[0].scrollHeight;
                    var storge = window.localStorage,
                        lastmsginfo = storge.getItem(this.lastaccountid.value);
                    storge.setItem(this.lastaccountid.value, (lastmsginfo == null ? "" : lastmsginfo) +
                        msghtml);
                }
            }
        }
    });
</script>

</html>