<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>日历</title>
	<style>
		.cala {
			text-align: right;
			line-height: 25px;
		}

		.cala td {
			width: 20px;
		}

		.currenday {
			background-color: red;
		}
	</style>
</head>

<body>
	<div>
		<span id="year">
		</span>
		<span id="month"></span>
		<div style="margin-top:20px;">
			<button onclick="selectMonth(-1)">Preview</button>
			<button onclick="selectMonth(1)">Next</button>
		</div>
		<table class="cala">
			<thead>
				<th>日</th>
				<th>一</th>
				<th>二</th>
				<th>三</th>
				<th>四</th>
				<th>五</th>
				<th>六</th>
			</thead>
			<tbody id="Container">
			</tbody>
		</table>
	</div>

</body>
<script type="text/javascript">
	window.onload = function () {
		showTable();
	}

	function isleap(year) {
		return new Date(year, 2, 0).getDate() == 29 ? true : false;
	}

	function showTable(_year, _month) {
		var today = new Date();
		var year = _year || today.getFullYear(); //为空表示本年
		var month = _month || today.getMonth() + 1; //本月
		var day = today.getDate(); //本日
		document.getElementById("year").innerText = year;
		document.getElementById("month").innerText = month;
		//本月第一天是星期几（距星期日离开的天数）
		var startDay = new Date(year, month - 1, 1).getDay();

		//本月有多少天(即最后一天的getDate()，但是最后一天不知道，我们可以用“上个月的0来表示本月的最后一天”)
		var nDays = new Date(year, month, 0).getDate();
		var lastnDays = new Date(year, month - 1, 0).getDate();
		//开始画日历
		var numRow = 0; //记录行的个数，到达7的时候创建tr
		var i; //日期
		var html = '';
		//html += '<table id="Body" width="212"><tbody>';
		//第一行
		html += '<tr>';
		for (i = 1; i < startDay + 1; i++) {
			var firstday = lastnDays - startDay + i;
			html += '<td style="color:gray">' + firstday + '</td>';
			numRow++;
		}
		for (var j = 1; j <= nDays; j++) {
			//如果是今天则显示红色
			if (j == day && today.getFullYear() == year && (today.getMonth() + 1) == month) {
				html += '<td class="currenday">';
				html += j; //开始加日期
			} else {
				html += '<td onclick="">';
				html += j; //开始加日期
			}
			html += '</td>';
			numRow++;
			if (numRow == 7) { //如果已经到一行（一周）了，重新创建tr
				numRow = 0;
				html += '</tr><tr>';
			}
		}
		//补全剩余
		if (numRow != 7) {
			for (var k = 1; k <= 7 - numRow; k++) {
				html += "<td style='color:gray'>" + k + "</td>";
			}
		}
		html += '</tr></tbody></table>';
		document.getElementById("Container").innerHTML = html;
	}

	var ntoday = new Date();
	var nyear = ntoday.getFullYear(); //为空表示本年
	var nmonth = ntoday.getMonth() + 1; //本月
	var selmonth = nmonth,
		selyear = nyear;

	function selectMonth(flag) {
		if (flag == -1) {
			selmonth--;
			if (selmonth <= 0) {
				selmonth = 12;
				selyear--;
			}
		} else {
			selmonth++;
			if (selmonth > 12) {
				selyear++;
				selmonth = 1;
			}
		}
		showTable(selyear, selmonth);
		document.getElementById("year").innerText = selyear
		document.getElementById("month").innerText = selmonth;
	}
</script>

</html>